<div class="mx-auto max-w-md px-10 py-16">
  <div class="flex flex-col items-center gap-y-6">
    <div class="relative flex size-24 items-center justify-center">
      <a routerLink="#">
        <img
          class="size-10"
          src="img/logo/minimal-logo-blue.svg"
          alt="Minimal Logo"
        />
      </a>

      <span
        class="to-primary absolute block h-full w-full animate-spin rounded-full bg-linear-135 from-transparent from-50% to-100% opacity-16 [animation-duration:9s]"
      ></span>
    </div>

    <div class="flex flex-col items-center gap-y-3">
      <h5 class="text-lg font-bold text-gray-800">Sign in to your account</h5>
      <p class="text-sm text-gray-600">
        Already have an account?
        <a
          routerLink="/auth/login"
          class="text-primary font-semibold hover:underline"
          >Log In</a
        >
      </p>
    </div>
  </div>

  <form>
    <div class="flex flex-col gap-y-6 pt-10">
      <div class="flex flex-col gap-x-4 gap-y-6 md:flex-row">
        <app-input label="First Name" />
        <app-input label="Last Name" />
      </div>

      <app-input label="Email address" />

      <app-input label="Password" placeholder="8+ characters" />

      <app-button>Create account</app-button>
    </div>
  </form>

  <div class="pt-6">
    <p class="text-center text-xs text-gray-600">
      By signing up, I agree to
      <a
        routerLink="#"
        class="text-gray-800 underline decoration-gray-800/40 hover:decoration-gray-800"
        >Terms of service</a
      >
      and
      <a
        routerLink="#"
        class="text-gray-800 underline decoration-gray-800/40 hover:decoration-gray-800"
        >Privacy policy</a
      >
      .
    </p>
  </div>

  <div class="my-6 flex items-center gap-x-2.5">
    <span class="flex-1 border-t border-dashed border-t-gray-500/20"></span>
    <span class="text-xs font-bold text-gray-500">OR</span>
    <span class="flex-1 border-t border-dashed border-t-gray-500/20"></span>
  </div>

  <div class="flex justify-center gap-x-3">
    <button
      class="rounded-full p-2 transition-colors duration-300 ease-in-out hover:cursor-pointer hover:bg-gray-600/8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="size-5.5"
        id="_r_f_"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
      >
        <path
          fill="var(--color, #FFC107)"
          d="M21.8055 10.0415H21V10H12V14H17.6515C16.827 16.3285 14.6115 18 12 18C8.6865 18 6 15.3135 6 12C6 8.6865 8.6865 6 12 6C13.5295 6 14.921 6.577 15.9805 7.5195L18.809 4.691C17.023 3.0265 14.634 2 12 2C6.4775 2 2 6.4775 2 12C2 17.5225 6.4775 22 12 22C17.5225 22 22 17.5225 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z"
        ></path>
        <path
          fill="var(--color, #FF3D00)"
          d="M3.15332 7.3455L6.43882 9.755C7.32782 7.554 9.48082 6 12.0003 6C13.5298 6 14.9213 6.577 15.9808 7.5195L18.8093 4.691C17.0233 3.0265 14.6343 2 12.0003 2C8.15932 2 4.82832 4.1685 3.15332 7.3455Z"
        ></path>
        <path
          fill="var(--color, #4CAF50)"
          d="M12.0002 22C14.5832 22 16.9302 21.0115 18.7047 19.404L15.6097 16.785C14.5719 17.5742 13.3039 18.0011 12.0002 18C9.39916 18 7.19066 16.3415 6.35866 14.027L3.09766 16.5395C4.75266 19.778 8.11366 22 12.0002 22Z"
        ></path>
        <path
          fill="var(--color, #1976D2)"
          d="M21.8055 10.0415H21V10H12V14H17.6515C17.2571 15.1082 16.5467 16.0766 15.608 16.7855L15.6095 16.7845L18.7045 19.4035C18.4855 19.6025 22 17 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z"
        ></path>
      </svg>
    </button>
    <button
      class="rounded-full p-2 transition-colors duration-300 ease-in-out hover:cursor-pointer hover:bg-gray-600/8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="size-5.5"
        id="_r_h_"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
      >
        <path
          fill="var(--color, var(--palette-text-primary))"
          d="M12.001 2c-5.525 0-10 4.475-10 10a9.994 9.994 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.28 9.28 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10"
        ></path>
      </svg>
    </button>
    <button
      class="rounded-full p-2 transition-colors duration-300 ease-in-out hover:cursor-pointer hover:bg-gray-600/8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="size-5.5"
        id="_r_j_"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
      >
        <path
          fill="var(--color, var(--palette-text-primary))"
          d="M17.7242 3H20.779L14.1069 10.624L21.956 21H15.8117L10.9959 14.7087L5.49201 21H2.43288L9.56798 12.8438L2.04346 3H8.34346L12.692 8.75048L17.7242 3ZM16.6511 19.174H18.343L7.42182 4.73077H5.60451L16.6511 19.174Z"
        ></path>
      </svg>
    </button>
  </div>
</div>
