<app-sidebar />

<div class="xl:pl-75 h-2000">
  <header class="flex h-18 items-center sticky top-0 z-1000 justify-between px-10">
    <div></div>
    <div class="flex gap-x-1.5">
      <button class="size-10 flex justify-center items-center">
        <img
          alt=""
          class="size-6 animate-spin [animation-duration:9s]"
          src="/icon/settings.svg"
        />
      </button>
      <button
        class="relative flex size-10 items-center justify-center"
        title="Logout"
        type="button"
      >
        <span
          class="absolute block size-10 animate-spin rounded-full bg-linear-to-r from-warning via-gray-500 to-primary [animation-duration:8s]"
        ></span>
        <img
          alt="Admin User"
          class="relative z-10 box-content rounded-full bg-white from-0% via-45% to-55% p-0.5"
          height="34"
          src="/img/avatar.webp"
          width="34"
        />
      </button>
    </div>
  </header>
</div>
