<!-- hanya untuk ngubah bacgkourndnya jadi gelap -->
<div class="absolute h-full w-full bg-black/24"></div>
<aside class="fixed h-full bg-white">
  <div class="flex pt-5 pb-2 pl-7">
    <img class="size-10" src="img/logo/minimal-logo-blue.svg" alt="" />
  </div>

  <div class="w-72">
    <nav class="px-4">
      <ul class="flex flex-col">
        <li>
          <button
            class="group pt-4 pr-2 pb-2 pl-3 text-[11px] font-bold text-gray-500 uppercase transition-colors duration-300 ease-in-out hover:text-gray-800"
          >
            <span class="group-hover:pl-1 duration-300">Overview</span>
          </button>
          <ul class="flex flex-col gap-y-1">
            <li>
              <a
                class="bg-primary/8 hover:bg-primary/16 flex min-h-11 items-center gap-x-3 rounded-lg py-1 pr-2 pl-3"
                href="#"
              >
                <!-- Ini harusnya icon, sementara buat placeholder -->
                <span class="bg-primary block size-6"></span>
                <span class="text-primary text-sm leading-5.5 font-semibold"
                  >App</span
                >
              </a>
            </li>
            <li>
              <a
                href="#"
                class="flex min-h-11 items-center gap-x-3 rounded-lg px-1 py-1 pr-2 pl-3 hover:bg-gray-500/8"
              >
                <span class="block size-6 bg-gray-400"></span>
                <span class="text-sm leading-5.5 font-medium text-gray-600"
                  >Ecommerce</span
                >
              </a>
            </li>
            <li>Analytics</li>
          </ul>
        </li>
        <li>
          <button>Management</button>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
