<li>
  <button
    (click)="toggleExpanded()"
    [class]="isActive ? 'bg-primary/8 hover:bg-primary/16' : 'hover:bg-gray-500/8'"
    class="flex min-h-11 w-full items-center gap-x-3 rounded-lg py-1 pr-2 pl-3 cursor-pointer"
  >
    <span class="size-6">
      <img
        [class]="isActive ? 'grayscale-0' : 'grayscale-80'"
        class="transition-all"
        src="/icon/ic-{{ icon }}.svg"
      />
    </span>
    <span
      [class]="isActive ? 'font-semibold text-primary' : 'font-medium text-gray-600'"
      class="flex flex-1 justify-start text-sm leading-5.5"
      >{{ label }}</span
    >
    <span
      [class]="isExpanded ? 'rotate-90' : 'rotate-0'"
      class="ease-in-out duratin-300 transition-transform"
      [ngClass]="isActive ? 'text-primary' : 'text-gray-600'"
    >
      <svg
        height="16px"
        role="img"
        viewBox="0 0 24 24"
        width="16px"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 19a1 1 0 0 1-.64-.23a1 1 0 0 1-.13-1.41L13.71 12L9.39 6.63a1 1 0 0 1 .15-1.41a1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19"
          fill="currentColor"
        ></path>
      </svg>
    </span>
  </button>
  <ul
    [class]="isExpanded ? 'h-fit' : 'h-0'"
    class="relative flex flex-col gap-y-1 overflow-hidden pl-9 transition-all duration-300 ease-in-out before:absolute before:top-0 before:left-5.75 before:h-[calc(100%-30px)] before:w-0.5 before:bg-gray-300 before:content-['']"
  >
    <ng-content />
  </ul>
</li>
