<li>
  <a
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact }"
    [routerLink]="href"
    class="flex min-h-11 items-center gap-x-3 rounded-lg py-1 pr-2 pl-3 hover:bg-gray-500/8"
    routerLinkActive="bg-primary/8 hover:bg-primary/16"
  >
    <span class="size-6">
      <img
        [class]="rla.isActive ? 'grayscale-0' : 'grayscale-80'"
        class="transition-all"
        src="/icon/ic-{{ icon }}.svg"
      />
    </span>
    <span
      [class]="
        rla.isActive
          ? 'font-semibold text-primary'
          : 'font-medium text-gray-600'
      "
      class="text-sm leading-5.5"
      >{{ label }}</span
    >
  </a>
</li>
<!--<li>-->
<!--  <a-->
<!--    class="flex min-h-11 items-center gap-x-3 rounded-lg px-1 py-1 pr-2 pl-3 "-->
<!--    href="#"-->
<!--  >-->
<!--    <span class="size-6">-->
<!--      <img class="grayscale-80" src="/icon/ic-ecommerce.svg" />-->
<!--    </span>-->
<!--    <span class="text-sm leading-5.5 text-gray-600">Ecommerce</span>-->
<!--  </a>-->
<!--</li>-->
